@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  height: 1px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color:#000000;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header {
  position: relative;
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #ffe17f;
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  z-index: 1;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
}

.header-logo-link {
  display: inline-block;
  margin-bottom: 25px;
}

.header-logo-image {
  position: relative;
  z-index: 10;
}

.navigation-form {
  display: flex;
}

.navigation-block {
  display: flex;
  align-items: center;
  column-gap: 26px;
  margin-bottom: 44px;
}

.navigation-search {
  position: relative;
  width: 359px;
  height: 41px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 9px 10px 10px 46px;
  box-sizing: border-box;
  background-color:#ffe17f;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: top 10px left 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  z-index: 2;
}

.search-button {
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  padding: 9px 54px;
  border: 2px solid #000000;
  border-left: transparent;
  text-decoration: none;
  border-radius: 0 50px 50px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color:#000000;
  background-color:#ffe17f;
  cursor: pointer;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 235px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation-link {
  text-decoration: none;
  font-size: 18px;
  color:#000000;
}

.products-navigation-list {
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 39px;
}

.products-navigation-link {
  text-decoration: none;
  font-size: 18px;
  color:#000000;
}

.user-link {
  position: relative;
  padding-left: 27px;
  display: block;
}
.user-link::before {
  content:"";
  width: 13px;
  height: 12px;
  position: absolute;
  background: url("../images/user.svg") no-repeat;
  top: 5px;
  left: 0;
}

.compare-link {
  position: relative;
  padding-left: 23px;
  display: block;
}

.compare-link::before {
  content:"";
  width: 10px;
  height: 12px;
  position: absolute;
  background: url("../images/compare.svg");
  top: 5px;
  left: 0;
}

.basket-link {
  position: relative;
  padding-left: 23px;
  display: block;
}

.basket-link::before {
  content:"";
  width: 16px;
  height: 14px;
  position: absolute;
  background: url("../images/basket.svg");
  top: 2px;
  right: 86px;
}

.basket-quantity {
  position: absolute;
  top: 0;
  right: 96px;
  min-width: 21px;
  height: 21px;
  padding: 0 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color:#ffffff;
  border-radius: 10px;
}

.navigation-catalog {
  display: flex;
  justify-content: space-between;
}

.navigation-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color:#000000;
}

.products-list-close {
  display: none;
}

.navigation-site-list {
  max-width: 490px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 20px;
}
