@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  height: 1px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header {
  position: relative;
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 17px;
  background-color: #ffe17f;
}

.main-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  z-index: 1;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
}

.header-logo-link {
  display: inline-block;
  margin-bottom: 26px;
  position: relative;
  z-index: 2;
}

.header-logo-image {
  position: relative;
  z-index: 10;
}

.header-logo-link:hover .header-logo-image {
  color: #000000;
  opacity: 0.6;
}


.header-logo-link:active .header-logo-image {
  color: #000000;
  opacity: 0.3;
}


.header-logo-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  z-index: 2;
}


.navigation-form {
  display: flex;
}

.navigation-block {
  display: flex;
  align-items: center;
  column-gap: 26px;
  margin-bottom: 30px;
}

.navigation-search {
  position: relative;
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 9px 10px 10px 46px;
  box-sizing: border-box;
  background-color: #ffe17f;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 14px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  outline: none;
}

.navigation-search:disabled {
  cursor: default;
  opacity: 0.3;
}

.navigation-search-wrapper {
  position: relative;
  display: inline-block;
}

.navigation-search-wrapper:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
  z-index: 2;
}

.search-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  padding: 9px 54px;
  border: 2px solid #000000;
  border-left: transparent;
  text-decoration: none;
  border-radius: 0 50px 50px 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background-color: #ffe17f;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.search-button-wrapper:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: 3px;
  z-index: 2;
}

.search-button:disabled {
  cursor: default;
  opacity: 0.3;
}

.search-button:disabled:hover {
  border: 2px solid #000000;
  border-left: transparent;
  color: #000000;
  background-color: #ffe17f;

}


.user-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 235px;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 23px;
}

.user-navigation-link {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  line-height: 30px;
}

.user-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.products-navigation-list {
  max-width: 300px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
}

.products-navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.products-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.products-navigation-link:hover {
  opacity: 0.6;
}

.products-navigation-link:active {
  opacity: 0.3;
}

.user-link {
  position: relative;
  padding-left: 27px;
  display: block;
}

.user-link::before {
  content: "";
  width: 13px;
  height: 12px;
  position: absolute;
  background: url("../images/user.svg") no-repeat;
  top: 9px;
  left: 2px;
}

.compare-link {
  position: relative;
  padding-left: 23px;
  display: block;
}

.compare-link::before {
  content: "";
  width: 10px;
  height: 12px;
  position: absolute;
  background: url("../images/compare.svg");
  top: 9px;
  left: 0;
}

.basket-link {
  position: relative;
  padding-left: 45px;
  display: block;
}

.basket-link::before {
  content: "";
  width: 16px;
  height: 14px;
  position: absolute;
  background: url("../images/basket.svg");
  top: 6px;
  right: 85px;
}

.basket-quantity {
  position: absolute;
  top: 4px;
  right: 96px;
  min-width: 21px;
  height: 21px;
  padding: 0 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 10px;
}

.products-navigation-basket {
  position: relative;
}

.popover-basket {
  position: absolute;
  /* display: none; */
  width: 320px;
  display: flex;
  flex-direction: column;
  z-index: 16;
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.basket-list-products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket-item-product {
  margin-left: 20px;
  margin-right: 20px;
}

.basket-item-product + .basket-item-product  {
  border-top: 1px dashed #1a1a1a;
  margin-top: 20px;
  padding-top: 20px;
}

.basket-link-product {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color:#000000;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
}

.basket-product-name {
  display: inline-block;
  max-width: 170px;
  margin-left: 23px;
}

.basket-info {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  padding: 20px;
  color: #ffffff;
  background-color:#1a1a1a;
}

.basket-info-quantity {
  max-width: 120px;
}

.basket-info-price {
  max-width: 150px;
}

.basket-open {
  display: inline-block;
  max-width: 280px;
  margin: 20px 20px 0 20px;
  padding: 13px 20px 14px;
  box-sizing: border-box;
  border: none;
  color: #000000;
  background-color: #ffffff;
}

.basket-open:hover {
  background-color: #ffe17f;
}

.basket-open:active {
  color:rgb(0, 0, 0, 0.3);
}

.navigation-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navigation-dropdown {
  position: relative;
  z-index: 100;
}

.navigation-catalog-link {
  position: relative;
  max-width: 390px;
  min-height: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  outline: none;
}

.navigation-catalog-link:focus::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 2px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  position: absolute;
}

.navigation-catalog-link::after {
  content: "";
  position: relative;
  display: block;
  border: 2px solid #000000;
  border-radius: 50%;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
  text-align: center;
  flex-shrink: 0;
  opacity: 0.3;
}

.navigation-catalog-link:hover::after {
  opacity: 1;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;
  /* display: inline-block; */
}

.navigation-site-link:hover {
  opacity: 0.6;
}

.navigation-site-link:active {
  opacity: 0.3;
}

.navigation-site-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.products-list {
  flex-wrap: wrap;
  position: absolute;
  width: 1160px;
  box-sizing: border-box;
  left: -60px;
  top: 100%;
  padding-bottom: 57px;
  /* transform: translateX(-60px); */
  gap: 60px;
  background-color: #ffe17f;
  z-index: 15;
  display: none;
}

.navigation-dropdown:hover .products-list {
  display: flex;
}

.navigation-dropdown:hover .navigation-catalog-link::after {
  content: "";
  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.products-list-detailed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 153px;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

.navigation-site-list {
  max-width: 490px;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 45px;
  row-gap: 20px;
  box-sizing: border-box;
  justify-content: flex-end;
}

.products-item-link {
  display: inline-block;
  font-family: "Rubic", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-decoration: none;
  color: #000000;
}

.products-item-link:hover {
  opacity: 0.6;
}

.products-item-link:active {
  opacity: 0.3;
}

.products-item-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-hero {
  width: 1160px;
  margin: 0 auto;
  align-self: start;
}

.heading {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.slider {
  position: relative;
  padding-bottom: 65px;
}

.slider-item {
  display: none;
  position: relative;
  z-index: 10;
}

.slider-first::before {
  content: "01";
  position: absolute;
  background-color: #ffe17f;
  height: 118px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 50px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 133px;
  color: #ffffff;
  text-align: right;
  z-index: 1;
}

.slider-second::before {
  content: "02";
  position: absolute;
  background-color: #ffe17f;
  height: 118px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 50px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 133px;
  color: #ffffff;
  text-align: right;
  z-index: 1;
}

.slider-third::before {
  content: "03";
  position: absolute;
  background-color: #ffe17f;
  height: 118px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 50px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 133px;
  color: #ffffff;
  text-align: right;
  z-index: 1;
}

.slider-item-current {
  display: flex;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-image-block {
  margin-top: -33px;
  position: relative;
  z-index: 10;
}

.slider-text-block {
  max-width: 560px;
  margin-left: 40px;
  margin-top: 90px;
  position: relative;
  z-index: 10;
}

.slider-heading {
  margin-bottom: 29px;
}

.slider-text {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}



.product-characteristics-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.characteristics-third {
  column-gap: 42px;
}

.product-characteristics-meaning {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-size: 36px;
  line-height: 30px;
}

.product-characteristics-name {
  margin: 0;
  padding: 0;
}

.slider-button-detailed {
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 11px 35px 11px 39px;
  color: #000000;
  text-align: center;
  z-index: 10;
}

.slider-button-detailed:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button {
  display: inline-block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.button-name {
  position: relative;
  z-index: 2;

}

.button-show::after {
  content: "";
  position: absolute;
  left: 0;
  top: 17px;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  z-index: 1;

}

.button-show:hover {
  background-color: #ffe17f;
}

.button-show:active::after {
  height: 100%;
  top: 0;
  background-color: #ffcc33;
}

.product-characteristics-item {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.slider-button {
  position: absolute;
  top: 180px;
  width: 20px;
  height: 60px;
  z-index: 11;
}

.slider-prev {
  background-image: url(../images/next.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  left: 30px;
  cursor: pointer;
}

.slider-next {
  background-image: url(../images/next.svg);
  background-repeat: no-repeat;
  left: 541px;
  cursor: pointer;
}

.slider-button:focus {
  outline: 2px solid #af4fff;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-paganation {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  left: 50%;
  bottom: 70px;
  transform: translateX(-50%);
  gap: 20px;
  z-index: 11;
}

.products-paganation-item {
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  display: block;
}

.slider-paganation-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.slider-button-current {
  background-color: #000000;
}

.slider-paganation-button:focus::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid #af4fff;
}

.slider-paganation-button:hover {
  opacity: 0.6;
}

.slider-paganation-button:active {
  opacity: 0.3;
}


.products-categories {
  margin-bottom: 70px;
}

.products-categories-list {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  column-gap: 40px;

}

.products-categories-item {
  margin: 0;
  padding: 0;
  width: 160px;
  min-height: 253px;

}

.products-categories-link {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding-top: 192px;
  height: 100%;
  color: #000000;
  box-sizing: border-box;
}

.products-categories-link::before {
  position: absolute;
  top: 0;
  content: "";
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.products-categories-vr::before {
  background-image: url(../images/categories/vr.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.products-categories-selfie::before {
  background-image: url(../images/categories/monopod.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: bottom;
}

.products-categories-camera::before {
  background-image: url(../images/categories/camera.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.products-categories-bracelet::before {
  background-image: url(../images/categories/bracelet.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.products-categories-watch::before {
  background-image: url(../images/categories/watch.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.products-categories-quadracopter::before {
  background-image: url(../images/categories/quadrocopter.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.products-categories-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.products-categories-item:hover .products-categories-link::before {
  background-color: #ffc700
}

.products-categories-link:hover {
  color: rgb(0, 0, 0, 0.6);
}

.adding {
  background-color: #f0f0f0;
  position: relative;
  margin-bottom: 70px;
  z-index: 10;
}

.adding::before {
  content: "";
  position: absolute;
  height: 102px;
  width: 100%;
  background-color: #ffffff;
  z-index: 11;
}

.slider-adding {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding-bottom: 72px;
  width: 1160px;
  z-index: 12;
}

.slider-service-paganation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 278px;
  margin: 0;
  padding: 63px 0 63px 2px;
  list-style: none;
  row-gap: 35px;
}

.slider-service-paganation::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 100%;
  background-color: #000000;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slider-service-button {
  position: relative;
  display: inline-block;
  padding: 10px 17px;
  min-width: 160px;
  box-sizing: border-box;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  z-index: 3;
}

.slider-service-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
  left: 0;
  top: 15px;
  z-index: 0;
}

.service-button-active {
  width: 278px;
  background-color: #000000;
  color: #ffe17f;
  padding-left: 15px;
  text-align: left;
  transition: all 0.5s;
}

.service-button-active:hover {
  padding-left: 50px;
  background-color: #000000;
}

.service-button-active:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-show:focus {
  outline: #af4fff 2px solid;
}

.service-button-active:after {
  content: "";
  display: none;
}

.slider-adding-list {
  width: 880px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-adding-item {
  display: none;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  padding-left: 123px;
  z-index: 3;
}

.slider-adding-current {
  display: block;
  /* display: none; */
}

.slider-title {
  margin-bottom: 33px;
}

.slider-description {
  margin: 0;
  padding: 0;
  max-width: 480px;
  font-size: 18px;
  line-height: 30px;
}

.adding-delivery {
  position: relative;
}

.adding-delivery::after {
  content: "";
  position: absolute;
  width: 136px;
  height: 164px;
  background-image: url(../images/delivery.svg);
  background-repeat: no-repeat;
  top: 1px;
  right: 63px;
  transform: translateX(0%) translateY(46%);
  z-index: 10;
}

.adding-warranty {
  position: absolute;
  background-image: url(../images/warranty.svg);
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 95%;
  z-index: 10;
}

.adding-credit {
  display: none;
}

.delivery {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
  text-align: center;
}

.delivery-link {
  display: inline-block;
  width: 100%;
  color: #000000;
  font-size: 20px;
  padding-top: 41px;
  padding-bottom: 38px;
  background-color: #f0f0f0;
}

.delivery-link:focus {
  outline: 2px solid #af4fff;
}

.delivery-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url(../images/car.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link::after {
  content: "i";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #dcdcdc;
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.delivery-link:hover::after {
  color: rgb(0, 0, 0);
}

.delivery-link:active {
  opacity: 0.3;
}

.about {
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.about-info-block {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 67px;
  gap: 129px;
}

.about-heading {
  margin-bottom: 18px;
  position: relative;
}

.about-heading:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 84px;
  background-color: #000000;
  transform: translateY(-100%);
  top: -40px;
}


.about-text {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}


.about-list {
  margin: 0;
  padding: 0;
  margin-left: 37px;
  row-gap: 17px;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
}

.about-item {
  position: relative;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-item::marker {
  position: absolute;
  font-size: 1.4em;
  color: #ffe17f;
}

.about-link {
  position: relative;
  color: #000000;
  padding: 11px 19px 11px 24px;
  box-sizing: border-box;
  max-width: 270px;
}

.contacts-link {
  position: relative;
  color: #000000;
  padding: 11px 30px 11px 34px;
  max-width: 260px;
  box-sizing: border-box;
}

.contacts {
  /* display: flex;
  flex-direction: column; */
  width: 532px;
}

.contacts-heading {
  position: relative;
  margin-bottom: 48px;
}

.contacts-heading:before {
  content: "";
  position: absolute;
  height: 7px;
  width: 84px;
  background-color: #000000;
  transform: translateY(-100%);
  top: -40px;
}

.contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  color: #444444;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-text {
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #444444;
}

.contacts-info {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
}

.contacts-phone {
  position: relative;
  /* width: 155px;
  height: 21px; */
  margin-bottom: 30px;
  color: #444444;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  outline: none;
  text-underline-offset: 5px;
}

.contacts-phone:focus::before {
  content: "";
  display: block;
  width: 155px;
  height: 21px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts-schedule {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.mailing {
  background-color: #f0f0f0;
}

.mailing-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 56px;

}

.mailing-text {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  margin-bottom: 144px;
}

.mailing-description {
  max-width: 552px;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.mailing-form-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mailing-form {
  display: flex;
  justify-content: center;
}

.mailing-mail {
  width: 559px;
  height: 56px;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  padding: 12px 20px 11px 18px;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
}

.mailing-mail:focus {
  background-color: #dcdcdc;
  outline: none;
}

.mailing-mail:disabled {
  cursor: default;
  opacity: 0.3;
}

/* .mailing-mail:invalid {
  border-bottom: 3px solid #ff3d3d;
} */

.mailing-button {
  min-width: 253px;
  padding: 13px 27px 14px 30px;
  box-sizing: border-box;
  border: 3px solid #c4c4c4;
}

.mailing-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}

.mailing-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.mailing-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.mailing-button:disabled {
  cursor: default;
  opacity: 0.3;
}

.mailing-info {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-left: 31px;
}

.mailing-info::before {
  position: absolute;
  content: "";
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 0;
  width: 14px;
  height: 14px;
}

.page-footer {
  background-color: #444444;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 62px;
  padding-bottom: 62px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-left: 2px;
  margin-bottom: 36px
}

.header-logo-image {
  fill: #ffc700;
}

.footer-logo:hover .header-logo-image {
  fill-opacity: 0.6;
}

.footer-logo:active .header-logo-image {
  fill-opacity: 0.3;
}

.footer-logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}



.footer-address-block {
  max-width: 240px;
}

.footer-address {
  margin: 0;
  padding: 0;
  max-width: 245px;
  color: #ffffff;
}

.footer-navigation {
  display: flex;
  align-items: start;
  column-gap: 110px;
  /* justify-content: space-between; */
  margin-bottom: 58px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  width: 515px;
  list-style: none;
  gap: 26px;
  margin: 0;
  padding: 0;
}

.footer-link {
  color: #ffffff;
  padding: 3px;
}

.footer-link:hover {
  color: #ffc700;
  text-decoration: underline;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-link:focus {
  outline: 2px solid #af4fff;
}

.footer-block-links {
  display: flex;
  justify-content: space-between;
  padding-left: 504px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  width: 150px;
}

.socials-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7c7c7c;
  outline: none;
}

.social-icon {
  fill: #444444;
}

.socials-link:hover {
  background-color: #ffc700;
}

.socials-link:active .social-icon {
  fill-opacity: 0.3;
}

.socials-link:focus::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-phone-link {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

.footer-phone-link:hover {
  color: #ffc700;
  text-decoration: underline;
}

.footer-phone-link:active {
  opacity: 0.3;
}

.footer-phone-link:focus::before {
  content: "";
  display: block;
  width: 175px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.footer-link-delover {
  position: relative;
  outline: none;
}

.footer-delover-image {
  fill: #ffc700;
}

.footer-link-delover:hover .footer-delover-image {
  fill: #ffffff;
}

.footer-link-delover:active .footer-delover-image {
  opacity: 0.3;
}

.footer-link-delover:focus::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
